<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', { title: 'Failure' }) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
  <!-- /Header -->
  <main class="confirm-container">
    Failure
  </main>
  <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>